.w-100
	width: 100%
	
.p-0
	padding: 0
	
.ml-20
	margin-left: 20px
	
.mb-20
	margin-bottom: 20px
	
.mr-10
	margin-right: 10px
	
.avatar
	margin-top: 16px
	
.form 
	margin-top: -0px
	
.form .el-form-item	
	margin-bottom: 0
	
.receive
	margin-top: 20px
	
.mt-20
	margin-top: 20px