.mt-10
	margin-top: 10px
	
.mb-10
	margin-bottom: 10px
	
.prescription-form
	margin-top: 4px
	border-bottom: #e5e5e5 solid 1px
	padding-bottom: 10px
	
.medicine-wrapper
	max-height: 280px
	overflow: auto
	padding-right: 10px
	
.el-icon-delete
	line-height: 24px
	font-size: 18px
	color: #F56C6C
	
.useage-count
	width: 80px
	
.useage-text
	width: calc(100% - 90px)
	
.pr-20
	padding-right: 20px	